<div class="logo">
    <a href="{{site.url}}">
    <img src="{{site.data.settings.logo2_image_path}}" alt="">
    </a>
</div><!--/logo-->
<div class="contact">
    
</div><!--/contact-->

<div class="get-connected">
    <div class="connected-header">
        <ul class="social-menu">
            {% if  site.data.settings.facebook %}
            <li><a href="{{site.data.settings.facebook}}"><i class="fa fa-facebook-square"></i></a></li>
            {% endif %}
            {% if  site.data.settings.twitter %}
            <li><a href="{{site.data.settings.twitter}}"><i class="fa fa-twitter-square"></i></a></li>
            {% endif %}
            {% if  site.data.settings.instagram %}
            <li><a href="{{site.data.settings.instagram}}"><i class="fa fa-instagram"></i></a></li>
            {% endif %}
            {% if  site.data.settings.youtube %}
            <li><a href="{{site.data.settings.youtube}}"><i class="fa fa-youtube"></i></a></li>
            {% endif %}
        </ul><!--/social-menu-->
    </div><!--/connected-header-->
    <div class="details">
        <p class="address">{{site.data.settings.address}}{% if site.data.settings.address2 %}<br> {{site.data.settings.address2}}
{% endif %}<br>
        {{site.data.settings.City}}, {{site.data.settings.State}} {{site.data.settings.Zip}}</p>
        <p class="phone">{{site.data.settings.phone}}</p>
        <p class="email">{{site.data.settings.email}}</p>
    </div><!--/details-->
</div><!--/get-connected-->
<div class="menunav">
    <ul class="menu vertical" data-accordion-menu>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a>
            <ul class="menu vertical nested">
                {% for item in site.about_our_family %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">About Thailand</a>
            <ul class="menu vertical nested">
                {% for item in site.about_thailand %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Updates</a></li>
        <li><a href="#">Schedule</a></li>
    </ul><!--/menu-->
</div><!--/navigation-->
<div class="links">
        
        <a href="#"><img src="{{site.data.settings.mission_board_image}}" alt="" width="214"></a>
        <a href="#"><img src="{{site.data.settings.sending_church_image}}" alt="" width="245"></a>
</div><!--/links-->