body.secondary.post.single 
    .content
        .content-wrapper
            width: 90%
            max-width: 900px

            .downloads
                display: flex 
                margin-bottom: 40px
                width: 100%
                padding: 10px 20px
                border-top: 2px solid darken($main_bright_color, 20%)
                border-bottom: 2px solid darken($main_bright_color, 20%)
                justify-content: space-around 
                a 
                    text-transform: uppercase
                    font-weight: bold 
                    



body.post.list
    .singlepost
        width: 80%
        margin-left: auto
        margin-right: auto
        max-width: 1100px
        display: flex
        flex-direction: column
        +breakpoint(medium)
            flex-direction: row
        padding-bottom: 30px
        border-bottom: 1px solid darken($main_bright_color, 20%)
        margin-bottom: 30px
        &:last-child
            border-bottom: none
            margin-bottom: 0

        .featured_image
            width: 80%
            margin-left: auto
            margin-right: auto
            margin-bottom: 20px
            +breakpoint(medium)
                width: 384px
                margin-left: 0
                margin-right: 40px
            img 
                border: 2px solid $main_dark_color
        .title
            h1
                margin-bottom: 0
                text-transform: uppercase
                font-weight: bold
            .author
                border-top: 2px solid $main_dark_color
                border-bottom: 2px solid $main_dark_color
        .content
            padding: 0
            p
                margin-bottom: 30px

        .readbutton
            text-align: left
            width: 100%
            margin-left: auto
            margin-right: auto
    .pagination
        text-align: center 

.latestPost
    padding: 40px
    border-bottom: 1px dashed $main_dark_color
    h2
        text-align: center
        margin-bottom: 40px
        font-size: 30px
        line-height: 40px
        font-weight: bold
        color: #594323
        text-transform: uppercase
    .singlepost
        display: flex
        flex-direction: column
        +breakpoint(medium)
            flex-direction: row
        margin-left: auto
        margin-right: auto
        width: 80%
        max-width: 1200px
        .featured_image
            width: 80%
            margin-left: auto
            margin-right: auto
            margin-bottom: 20px
            +breakpoint(medium)
                width: 512px
                margin-left: 0
                margin-right: 40px
                flex-grow: 2
            img
                border: 2px solid $main_dark_color
        .posttext
            flex-shrink: 2
        .title
            h1
                margin-bottom: 0
                font-size: 28px
                text-transform: uppercase
                font-weight: bold
            .author
                border-top: 2px solid $main_dark_color
                border-bottom: 2px solid $main_dark_color
        .content
            p
                margin-bottom: 30px
        .readbutton
            text-align: right
            // width: 80%
            // margin-left: auto
            // margin-right: auto
.allposts
    text-align: center
