<!doctype html>
<html class="no-js" lang="en">
  {% include head.html%}
  <body class="secondary post single">
  <nav id="menu">
      {% include menu.html %}
  </nav>
  <main id="panel">
      {% include navigation.html %}
      <div class="pageheader" style="background: url({{site.data.settings.main_image}}) no-repeat bottom center; background-size: cover;">
        <h1>{{page.title}}</h1>
      </div><!--/pageheader-->
      <div class="breadcrumbbar">
        <p><a href="{{site.url}}">Home</a> <i class="fa fa-angle-double-right"></i> <a href="{{site.url}}/updates/">Updates</a> <i class="fa fa-angle-double-right"></i>  {{page.title}}</p>
      </div><!--/breadcrumbbar-->
      <div class="content">
        <div class="content-wrapper">
        {% if page.pdf_url or page.jpg_url %}
          <div class="downloads">
            <a href="{{page.pdf_url}}" target="blank"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
            <a href="{{page.jpg_url}}" target="blank"><i class="fa fa-file-image-o"></i> Download JPG</a>
          </div><!--/downloads-->
          {% endif %}
          {% if page.featured_image %}
          <img class="featured_image" src="{{page.featured_image}}" alt="">
          {% else %}
          <img class="featured_image" src="{{site.data.settings.secondary_blog_image}}" alt="">
          {% endif %}

          {{ content }}
          </div><!--/content-wrapper-->
      </div><!--/content-->
      {% include footer.html%}
  </main>
  </body>
</html>
